<p>
<button id="edit-equations-of-interest">Equations of Interest</button>
<button id="edit-concepts">Concepts</button>
<button id="edit-compound-concepts">Compound Concepts</button>
<button id="create-concept-group">Create Concept Group</button>
<button id="edit-mcdict">Edit Mcdict</button>
</p>
<form id="edit-equations-of-interest-form" class="nav-form" method="GET"></form>
<form id="edit-concepts-form" class="nav-form" method="GET"></form>
<form id="edit-compound-concepts-form" class="nav-form" method="GET"></form>
<form id="create-concept-group-form" class="nav-form" method="GET"></form>
<form id="edit-mcdict-form" class="nav-form" method="GET"></form>